@import url('reset.css');

body {
    background-color: #FFF;
    color: #000;
    font-size: 16px;
}

table {
    border: 1px #000 solid;
}

td, th {
    border: 1px #000 dotted;
    padding: 5px 10px;
}

thead td {
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}